* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
  font-size: 17px;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

img {
  max-width: 100%;
}

.header {
  width: 100%;
  background-color: #1e1f24;
}

.list {
  width: 90%;
  height: 70vh;
  margin: auto;
  display: grid;
}

.listitem {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.first {
  font-size: 18px;
  font-weight: 700;
}

.two {
  color: lightgray;
}

.last {
  justify-content: center;
  background-color: #ccc;
}

.complete {
  border: none;
  background: none;
}
